/* Por padrão, mostra o conteúdo e esconde o aviso */
#rotate-warning {
    display: none;
}

@media (orientation: portrait) {
    #content {
      display: none;
    }
    #rotate-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        color: black;
        width: 100vw;
        height: 100vh;
        font-size: 2em;
        text-align: center;
        z-index: 9999;
    }
}
/* Se quiser aplicar estilos específicos quando em paisagem */
@media (orientation: landscape) {
    #content {
      padding: 1em;
      background-color: #eef;
    }
}    

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 1%;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.paciente {
    display: flex;
    align-items: center;
    height: 512px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.img-exame, .img-mapa {
    width: 35%;
    height: auto;
    object-fit: cover;
}

.info {
    padding: 10px;
    width: 25%;
    /* box-sizing: border-box; flex-grow: 1;*/
}

.titulo-normal {
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

.titulo-alterado {
    background-color: #FFEB3B;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

.resultado {
    font-size: 16px;
    white-space: pre-line;
} 

.resultado {
    position: relative;
    white-space: pre-line; /* para manter \n visível */
}

.botao-errou {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 90px;
    width: 90px;
    z-index: 10;
}

.img-errou {
    width: 100%;
    height: auto;
    object-fit: contain;
}
